* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdf3f3;
    color: #333;
}

header {
    background-color: #fcdede;
    width: 100%;
    padding: 10px 0; /* Aumenta o padding superior e inferior */
    display: flex;
    justify-content: center; /* Centraliza os links de navegação */
    align-items: center;
    position: relative;
    min-height: 100px; /* Aumenta a altura mínima da header */
}

.logo {
    width: 60px;
    position: absolute;
    left: 40px; /* Move a logo mais para o canto esquerdo */
}

header nav {
    display: flex;
    gap: 25px; /* Aumenta o espaçamento entre os links */
}

header nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    color: #D4456C;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    max-width: 1400px; 
}

.home-image {
    width: 500px; 
    margin-right: 80px; 
}

.welcome-message {
    max-width: 700px; 
    text-align: left;
}

h1 {
    color: #D4456C;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 2.0rem;
    line-height: 1.6;
    font-weight: bold;
}

.highlight {
    color: #F4A9B6;
    font-weight: bold;
}

.login-sidebar {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #D4456C;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    display: none; 
    flex-direction: column;
    gap: 10px;
}

.login-sidebar h2 {
    margin-bottom: 20px;
}

.login-sidebar label, .login-sidebar input, .login-sidebar button {
    width: 100%;
}

.login-sidebar input {
    margin-bottom: 10px;
    padding: 8px;
}

.login-sidebar button {
    background-color: #8B0000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    display: none;
    z-index: 10; 
}